.App {
    display: flex;
    justify-content: space-around;
}

.form {
    display: flex;
    // align-items: center;
    justify-content: center;
    height: 100vh;
    // background: #F7F7F7;
    margin-top: 20px;
}

.todoes {
    
    display: flex;
    // align-items: center;
    justify-content: center;
}